{%extends "MCMManagerBundle:Default:index.html.twig"%}

{%block container %}
 <div class="container" style="margin-top: 10px">

    <div id="" class="form-inline" role="grid">
        <div class="row">
            <div class="span8">
            </div>
            <div class="span4">
                <div class="dataTables_filter" id="example_filter">
                    <label>Search: <input type="text" class="search-query"></label>
                </div>
            </div>
        </div>
    </div>
    <table class="table table">
        <thead>
            <tr>
                <th>Login</th>               
                <th>FirstName</th>
                <th>LastName</th>               
                <th>Email</th>
                 
            </tr>
        </thead>     
        <tbody>
            {%for manager in managers%}
                {% set theKey = manager.managerkey %}
            <tr onmouseover="ChangeColor(this, true);" 
              onmouseout="ChangeColor(this, false);" 
              onclick="DoNav('{{ url('manager',{'managerkey': manager.managerkey}) }}');">

                    <td>{{ manager.login }}</td>
                    <td>{{ manager.firstname }}</td>
                    <td>{{ manager.lastname }}</td> 
                    <td>{{ manager.email }}</td>
                    <td>{{ manager.managerkey }}</td>
                    
            </tr>
             {%endfor%}
        </tbody>
    </table>
    <div class="row">
        <div class="span4">
            {%if total_pages > 0%}
            <div class="pagination">
                <ul class="pagination">
                    {%for i in 1..total_pages%}
                        {%if loop.first %}
                    <li class="prev {%if current_page==1%} disabled{%endif%}"><a href="{{path('managerlist',{'page':current_page-1})}}">← Previous</a></li>
                        {%endif%}
                    <li {%if current_page==loop.index%} class="active"{%endif%}><a href="{{path('managerlist',{'page':loop.index})}}">{{loop.index}}</a></li> 
                   
                    {%if loop.last %}
                    <li class="next{%if current_page==total_pages%} disabled {%endif%}"><a href="{{path('homepage',{'page':current_page+1})}}">Next → </a></li>
                      {%endif%}
                    {%endfor%}
                </ul>
            </div>
             {%endif%}
        </div>
    </div>
</div>
 <a href="#" >Logout</a>
{%endblock%}